@font-face {
    font-family: 'barbearia';
    src: url('../fonts/barbershop_in_thailand/Barbershop\ in\ Thailand.ttf');
}
* {
    padding: 0;
    margin: 0;
}
body {
    font-family: 'barbearia';
}
main {
    display: flex;
}
div.container {
    height: 570px;
    width: 58%;
    background-image: url('../imagens/poste.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
}
div.item1 {
    height: 560px;
    width: 100%;
    position: absolute;
}
div.item1 > form > table {
    padding-left: 50%;
    font-family: 'barbearia';
    font-size: 2vw;
}
div.item1 > h2 {
    font-family: 'barbearia';
    font-weight: lighter;
    font-size: 4vw;
    padding-left: 52%;
    padding-top: 24%;
}
button {
    font-family: 'barbearia';
    font-size: 2vw;
    font-weight: lighter;
    border: none;
    cursor: pointer;
}
div.container2 {
    width: 42%;
}
div.container2 > nav {
    height: 100px;
    width: 100%;
}
main > div.container2 > form {
    height: 30px;
  
    background-color: #414141;
}
main > div.container2 > form > nav > button {
    background-color: #414141;
    color: white;
    padding-top: 4px;
}
main > div.container2 > form > nav {
    display: flex;
    justify-content: space-between;
}  
main > div.container2 > section {
    font-size: 40px;
  
    margin-top: 45%;
    margin-left: 5%;
}
@media (max-width: 937px) {
    main > div.container2 > section {
      font-size: 30px;
    }
}
  @media (max-width: 704px) {
    main > div.container2 > section {
      font-size: 20px;
    }
}
  
/* HOVER */
button:hover {
    color: #942117;
}
button.cabecalho:hover {
    text-decoration: underline;
}